
#myFooter {
    background-color: #3c3d41;
    font-family: 'Poppins' 'OpenSans-Regular';
    color: white;
    padding-top: 30px;
}

#myfooter h3 {
    color: #0ec7a7;
    font-size: 20px;
    padding: 20px 0;
    text-align: left;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}


#myFooter .navbar-brand {
  padding: 0px;
}

#myFooter .navbar-brand>img {
  height: 97%;
 padding-left:  15px;
    padding-top:  2px;
    padding-bottom:  2px;
  width: auto;
  
}

#myFooter .navbar-brand text {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    line-height: 23px;
    letter-spacing: 1px;
}


#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
}

#myFooter ul {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
     
}

#myFooter h5 {
    font-size: 18px;
    color: #0ec7a7;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
     font-family: 'Poppins', sans-serif;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
     font-family: 'Raleway', sans-serif;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #FF0068;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    
    text-align: center;
    color: white;
    background-color: #FF0068;
    border-radius: 20px;
    border: none;
    display: inline-block
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

#myFooter .btnTWO {
    color: white;
    background-color: #0ec7a7;
    border-radius: 20px;
    border: none;
    display: inline-block
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}


@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

